
#panorama {
    width: 100%;
    height: 588px;
}
#controls {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    text-align: right;
    width: 35%;
    padding-bottom: 5px;
}
@media only screen and (max-width: 500px) {
    #controls {
        width: 15%
    }
     #controls select {
      position: relative;
      right: 25%;
    }
}
.ctrl {
    padding: 8px 5px;
    width: 30px;
    text-align: center;
    background: rgba(200, 200, 200, 0.8);
    display: inline-block;
    cursor: pointer;
}
select {
    padding: 9px 5px;
    width: 100px;
    text-align: center;
    background: rgba(200, 200, 200, 0.8);
    display: inline-block;
    cursor: pointer;
    margin: 0;
    border:0px;
    outline:0px;
    font-size: 16px;
}
.ctrl:hover ,select:hover{
    background: rgba(200, 200, 200, 1);
}
body{
    margin: 0;
    padding: 0;
}
#scenes-select{
  display: inline-block;
  margin-right: 5px;
}

#topdiv{
  position:fixed;
  bottom: 0;
  transform-origin:left bottom;
  transform: scale(0.25);
  z-index: 2;
  transition: transform 0.25s; 
}
#topdiv:hover{
  transform-origin:left bottom;
  transform: scale(0.5); 
  transition: transform 0.25s; 
}

#arrow{
  position: absolute;
}
#arrow span{
  position: absolute;
  color: #248405;
  z-index: 10;
  font-size: 2.5em;
}
.dot{
    position: absolute;
    width: 10px; height: 10px; 
    border-radius: 25px;
    cursor: pointer;
  }
.active{
  background:rgba(255,0,0,1);
}
.pathpoint{
  background:rgba(255,152,0,1);
}
.nonactive{
  background: rgba(0, 255, 255,.5);"
}
#image,#canvas{
  cursor: default;
}
